/Private/**


# Python
Projects/Python/**/*.pyc
Projects/Python/**/*.venv
Projects/Python/**/build/**

# Java
Projects/Java/**/artifacts/**
Projects/Java/**/out/**
Projects/Java/**/*.jar
Projects/Java/**/*.class

# Rust
# /Rust/**/target/**

# trash files
/**/*.rar
/**/*.zip
