[submodule "Projects/advent_of_code"]
	path = Projects/advent_of_code
	url = https://github.com/Mili-ssm/advent_of_code.git


# RUST

[submodule "Projects/Rust/stack_virtual_machine"]
	path = Projects/Rust/stack_virtual_machine
	url = https://github.com/Mili-ssm/stack_virtual_machine.git


# Python

[submodule "Projects/Python/MIOTI_DS_ProyectoFinal"]
	path = Projects/Python/MIOTI_DS_ProyectoFinal
	url = https://github.com/Mili-ssm/MIOTI_DS_ProyectoFinal.git

[submodule "Projects/Python/IteratorTools"]
	path = Projects/Python/IteratorTools
	url = https://github.com/Mili-ssm/IteratorTools.git

[submodule "Projects/Python/LifeGame"]
	path = Projects/Python/LifeGame
	url = https://github.com/Mili-ssm/LifeGame
