

[submodule "stack_virtual_machine"]
	path = stack_virtual_machine
	url = https://github.com/Mili-ssm/stack_virtual_machine.git

[submodule "MIOTI_DS_ProyectoFinal"]
	path = MIOTI_DS_ProyectoFinal
	url = https://github.com/Mili-ssm/MIOTI_DS_ProyectoFinal.git

[submodule "IteratorTools"]
	path = IteratorTools
	url = https://github.com/Mili-ssm/IteratorTools.git

[submodule "LifeGame"]
	path = LifeGame
	url = https://github.com/Mili-ssm/LifeGame.git
